In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([],columns=['page_name','A','B','C','D','E','F'])
df

Empty DataFrame
Columns: [page_name, A, B, C, D, E, F]
Index: []

In [3]:
df.loc[0] = ['A',0,1,0,0,0,1]
df.loc[1] = ['B',1,0,0,0,0,0]
df.loc[2] = ['C',0,1,0,0,1,1]
df.loc[3] = ['D',0,1,1,0,0,0]
df.loc[4] = ['E',1,0,0,1,0,0]
df.loc[5] = ['F',0,1,0,1,1,0]
df

  page_name  A  B  C  D  E  F
0         A  0  1  0  0  0  1
1         B  1  0  0  0  0  0
2         C  0  1  0  0  1  1
3         D  0  1  1  0  0  0
4         E  1  0  0  1  0  0
5         F  0  1  0  1  1  0

In [4]:
temp = list(df.columns)
temp.remove('page_name')
x = df[temp].sum().sum()
df11 = pd.DataFrame(df[temp].T.sum())
df12 = df11.T
df12.columns = temp
print(df12)
print('\n')
df12 = df12/x
df12

   A  B  C  D  E  F
0  2  1  3  2  2  3

          A         B         C         D         E         F
0  0.153846  0.076923  0.230769  0.153846  0.153846  0.230769

In [5]:
probs = {}
for i in df.columns:
    if i=='page_name':
        continue
    else:
        probs[i]= 1/sum(df[i])
probs

{'A': 0.5, 'B': 0.25, 'C': 1.0, 'D': 0.5, 'E': 0.5, 'F': 0.5}

In [6]:
probability_matrix = pd.DataFrame()
probability_matrix['page_name'] = df['page_name']
for i in df.columns:
    if i=='page_name':
        continue
    probability_matrix[i] = df[i]*probs[i]
probability_matrix

  page_name    A     B    C    D    E    F
0         A  0.0  0.25  0.0  0.0  0.0  0.5
1         B  0.5   0.0  0.0  0.0  0.0  0.0
2         C  0.0  0.25  0.0  0.0  0.5  0.5
3         D  0.0  0.25  1.0  0.0  0.0  0.0
4         E  0.5   0.0  0.0  0.5  0.0  0.0
5         F  0.0  0.25  0.0  0.5  0.5  0.0

In [7]:
r = pd.DataFrame()
prob = pd.DataFrame([1/(len(df.columns)-1)])
print(prob)
for i in df.columns:
    if i=='page_name':
        continue
    r[i] = prob[0]
r

          0
0  0.166667

          A         B         C         D         E         F
0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667

In [8]:
temp = list(df.columns)
temp.remove('page_name')
temp_r = probability_matrix[temp].dot(r.T).T
temp_r

       0         1         2         3         4         5
0  0.125  0.083333  0.208333  0.208333  0.166667  0.208333

In [9]:
def manhattan_distance(a, b):
    return np.abs(a - b).sum()

metric = float('inf')
threshold = 0.005
col_names = r.columns
while metric>threshold:
    print(r)
    temp = list(df.columns)
    temp.remove('page_name')
    temp_r = probability_matrix[temp].dot(r.T).T
    
    a = np.array(r)
    b = np.array(temp_r)
    r = temp_r
    r.columns = col_names
    metric = manhattan_distance(a, b)
    print(metric)
r

          A         B         C         D         E         F
0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
0.24999999999999994
       A         B         C         D         E         F
0  0.125  0.083333  0.208333  0.208333  0.166667  0.208333
0.041666666666666685
       A       B         C         D         E         F
0  0.125  0.0625  0.208333  0.229167  0.166667  0.208333
0.031249999999999965
          A       B         C         D         E         F
0  0.119792  0.0625  0.203125  0.223958  0.177083  0.213542
0.02604166666666661
          A         B         C        D         E         F
0  0.122396  0.059896  0.210937  0.21875  0.171875  0.216146
0.01822916666666663
          A         B         C         D         E         F
0  0.123047  0.061198  0.208984  0.225911  0.170573  0.210286
0.014973958333333322
          A         B         C         D         E         F
0  0.120443  0.061523  0.205729  0.224284  0.174479  0.213542
0.013183593749999965
          A         B         C        D         E         F
0  0.122152  0.060221  0.209391  0.22111  0.172363  0.214762
0.008951822916666574
          A         B         C         D         E         F
0  0.122437  0.061076  0.208618  0.224447  0.171631  0.211792
0.00693766276041656
          A         B        C         D         E         F
0  0.121165  0.061218  0.20698  0.223887  0.173442  0.213308
0.006306966145833259
          A         B         C         D         E         F
0  0.121958  0.060582  0.208679  0.222285  0.172526  0.213969
0.004216512044270801

         A         B         C         D         E         F
0  0.12213  0.060979  0.208393  0.223825  0.172122  0.212551

In [ ]:
#maxi = float('-inf')
#for i in df.columns:
#    if r[i]>mini:
#        mini
#final_dict =

In [10]:
def manhattan_distance(a, b):
    return np.abs(a - b).sum()

def simple_page_rank_algorithm(df,threshold,weighted=False):
    probs = {}
    for i in df.columns:
        if i=='page_name':
            continue
        else:
            probs[i]= 1/sum(df[i])

    probability_matrix = pd.DataFrame()
    probability_matrix['page_name'] = df['page_name']
    for i in df.columns:
        if i=='page_name':
            continue
        probability_matrix[i] = df[i]*probs[i]
    
    r = pd.DataFrame()
    if weighted:
        temp = list(df.columns)
        temp.remove('page_name')
        x = df[temp].sum().sum()
        df11 = pd.DataFrame(df[temp].T.sum())
        df12 = df11.T
        df12.columns = temp
        df12 = df12/x
        r = df12
        
    else:
        prob = pd.DataFrame([1/(len(df.columns)-1)])
        print(prob)
        for i in df.columns:
            if i=='page_name':
                continue
            r[i] = prob[0]
    print(r)    
    metric = float('inf')
    #threshold = 0.005
    col_names = r.columns
    while metric>threshold:
        #print(r)
        temp = list(df.columns)
        temp.remove('page_name')
        temp_r = probability_matrix[temp].dot(r.T).T

        a = np.array(r)
        b = np.array(temp_r)
        r = temp_r
        r.columns = col_names
        metric = manhattan_distance(a, b)
        print(metric)
    return r

In [ ]:
'''def manhattan_distance(a, b):
    return np.abs(a - b).sum()

def simple_page_rank_algorithm(df,threshold):
    probs = {}
    for i in df.columns:
        if i=='page_name':
            continue
        else:
            probs[i]= 1/sum(df[i])

    probability_matrix = pd.DataFrame()
    probability_matrix['page_name'] = df['page_name']
    for i in df.columns:
        if i=='page_name':
            continue
        probability_matrix[i] = df[i]*probs[i]
        
    r = pd.DataFrame()
    prob = pd.DataFrame([1/(len(df.columns)-1)])
    print(prob)
    for i in df.columns:
        if i=='page_name':
            continue
        r[i] = prob[0]
        
    metric = float('inf')
    #threshold = 0.005
    col_names = r.columns
    while metric>threshold:
        #print(r)
        temp = list(df.columns)
        temp.remove('page_name')
        temp_r = probability_matrix[temp].dot(r.T).T

        a = np.array(r)
        b = np.array(temp_r)
        r = temp_r
        r.columns = col_names
        metric = manhattan_distance(a, b)
        print(metric)
    return r'''

In [11]:
df = pd.DataFrame([],columns=['page_name','A','B','C','D','E','F'])
df

Empty DataFrame
Columns: [page_name, A, B, C, D, E, F]
Index: []

In [12]:
df.loc[0] = ['A',0,1,0,0,0,1]
df.loc[1] = ['B',1,0,0,0,0,0]
df.loc[2] = ['C',0,1,0,0,1,1]
df.loc[3] = ['D',0,1,1,0,0,0]
df.loc[4] = ['E',1,0,0,1,0,0]
df.loc[5] = ['F',0,1,0,1,1,0]
df

  page_name  A  B  C  D  E  F
0         A  0  1  0  0  0  1
1         B  1  0  0  0  0  0
2         C  0  1  0  0  1  1
3         D  0  1  1  0  0  0
4         E  1  0  0  1  0  0
5         F  0  1  0  1  1  0

In [13]:
#r is the page rank vector and this is taking weighted starting distribution which means nodes which are having more inlinks
#are given more weight depending on the proportion of the total inlinks to them and 0.005 is the threshold
r = simple_page_rank_algorithm(df,0.005)
r

          0
0  0.166667
          A         B         C         D         E         F
0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
0.24999999999999994
0.041666666666666685
0.031249999999999965
0.02604166666666661
0.01822916666666663
0.014973958333333322
0.013183593749999965
0.008951822916666574
0.00693766276041656
0.006306966145833259
0.004216512044270801

         A         B         C         D         E         F
0  0.12213  0.060979  0.208393  0.223825  0.172122  0.212551

In [14]:
#r is the page rank vector and this is taking weighted starting distribution which means nodes which are having more inlinks
#are given more weight depending on the proportion of the total inlinks to them and 0.005 is the threshold
r = simple_page_rank_algorithm(df,0.005,True)
r

          A         B         C         D         E         F
0  0.153846  0.076923  0.230769  0.153846  0.153846  0.230769
0.1923076923076923
0.17307692307692307
0.13942307692307696
0.09615384615384617
0.07512019230769232
0.06580528846153852
0.045222355769230796
0.0351938100961539
0.031353290264423184
0.021268404447115433
0.016403198242187556
0.014897273137019267
0.009976607102614166
0.007617216843825089
0.007054237219003563
0.004664531120887175

          A         B         C         D         E         F
0  0.122178  0.060973  0.208458  0.223839  0.172054  0.212498